<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Your Chat</title>
    <link rel="stylesheet" href="/node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.css" />
    <link rel="stylesheet" href="/build/app.css" />
  </head>

  <body class="govuk-template__body">
    {% include "layout/header.njk" %}
    <div class="govuk-width-container app-width-container">
      <main class="govuk-main-wrapper app-main-class" id="main-content">
        <div class="messages__wrapper">
          <div class="messages" aria-live="polite" data-group="1">
            <div class="message">
              <p class="govuk-body">Hello 👋</p>
              <p class="govuk-body">I'm GOV.UK Chat.</p>
              <p class="govuk-body">
                I'm an experimental tool that uses AI to answer questions and help you find
                information on GOV.UK.
              </p>
              <p class="govuk-body">
                <strong>I have limitations that you need to be aware of.</strong>
              </p>
            </div>
            <div class="message">
              <p class="govuk-body">
                The biggest limitation of AI tools like me is a problem known as 'hallucination'.
              </p>
              <p class="govuk-body">
                This means we sometimes make up false information or facts but present them to you
                confidently.
              </p>
            </div>
            <div class="message">
              <p class="govuk-body">
                To check if my answers are right, use the links I provide to official guidance on
                GOV.UK. Never act on what I've told you without checking GOV.UK.
              </p>
            </div>
            <!-- <div class="button-group">
            <div class="govuk-width-container">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body govuk-!-margin-bottom-0">
                    <a
                      class="gem-c-button govuk-button blue"
                      id="iUnderstand"
                      role="button"
                      rel="external"
                      data-module="govuk-button"
                      draggable="false"
                      href="your_chat-2.html"
                    >
                      I understand
                    </a>
                    <button type="button" class="govuk-button govuk-button--secondary">
                      Tell me more
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
          </div>

          <div class="message author-message understand" aria-live="polite">
            <p class="govuk-body">I understand</p>
          </div>

          <div class="messages" id="MessageGroup2" aria-live="polite" data-group="2">
            <div class="message">
              <p class="govuk-body">
                Great. You can always find information about my limitations in
                <a href="" target="_blank">about GOV.UK Chat (opens in a new tab)</a>.
              </p>
            </div>
            <div class="message">
              <p class="govuk-body">
                One more thing - please do not include any sensitive or personal information in your
                questions.
              </p>
              <p class="govuk-body">
                You can read the
                <a href="" target="_blank">privacy notice (opens in a new tab)</a> to find out how
                your data is used.
              </p>
            </div>
            <div class="button-group">
              <div class="govuk-width-container">
                <div class="govuk-grid-row">
                  <div class="govuk-grid-column-two-thirds">
                    <p class="govuk-body govuk-!-margin-bottom-0">
                      <a
                        class="gem-c-button govuk-button blue"
                        id="beginChat"
                        role="button"
                        rel="external"
                        data-module="govuk-button"
                        draggable="false"
                        href="your_chat-3#MessageGroup3"
                      >
                        Okay, start chatting
                      </a>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>

  <!-- <script src="/build/js/app.js"></script> -->
</html>
