<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GOV.UK Chat</title>
    <link rel="stylesheet" href="/node_modules/govuk-frontend/dist/govuk/govuk-frontend.min.css" />
    <link rel="stylesheet" href="/build/app.css" />
  </head>

  <body class="govuk-template__body">
    {% include "layout/header.njk" %}
    <div class="govuk-width-container app-width-container">
      <main class="govuk-main-wrapper app-main-class" id="main-content">
        <div class="messages__wrapper">
          <div class="messages" data-group="1">
            {% include "messages/message-1.njk" %}
            <!-- <div class="button-group">
            <div class="govuk-width-container">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body govuk-!-margin-bottom-0">
                    <a
                      class="gem-c-button govuk-button blue"
                      id="iUnderstand"
                      role="button"
                      rel="external"
                      data-module="govuk-button"
                      draggable="false"
                      href="your_chat-2.html"
                    >
                      I understand
                    </a>
                    <button type="button" class="govuk-button govuk-button--secondary">
                      Tell me more
                    </button>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
          </div>

          <div class="messages" data-group="2">
            {% include "messages/message-2.njk" %}
            <!-- <div class="button-group">
            <div class="govuk-width-container">
              <div class="govuk-grid-row">
                <div class="govuk-grid-column-two-thirds">
                  <p class="govuk-body govuk-!-margin-bottom-0">
                    <a
                      class="gem-c-button govuk-button blue"
                      id="beginChat"
                      role="button"
                      rel="external"
                      data-module="govuk-button"
                      draggable="false"
                      href="your_chat-3.html"
                    >
                      Okay, start chatting
                    </a>
                  </p>
                </div>
              </div>
            </div>
          </div> -->
          </div>

          <div class="messages" id="MessageGroup3" data-group="3">
            {% include "messages/message-3.njk" %}
            <div class="form-group">
              <div class="govuk-form-group govuk-!-margin-bottom-0">
                <div class="message-form-group govuk-!-margin-bottom-2">
                  <label class="govuk-label govuk-label--l govuk-visually-hidden" for="q"> How can I help you today?</label>
                  <input class="govuk-input" id="q" name="q" type="text" />
                  <button class="govuk-button blue">Send</button>
                </div>
              </div>
              <p class="govuk-body govuk-!-margin-bottom-0">
                <a href="" class="govuk-link">Share your feedback (opens in a new tab)</a>
              </p>
            </div>
          </div>
        </div>
      </main>
    </div>
  </body>

  <!-- <script src="/build/js/app.js"></script> -->
</html>
