<div class="message author-message okay">
  <p class="govuk-body">Okay</p>
</div>

<div class="message">
  {% include "layout/message-chat-icon.njk" %}
  <div class="message__group">
    <p class="govuk-body">Thanks! To get started, ask me a question.</p>
  </div>
</div>
