<div class="message author-message understand">
  <p class="govuk-body">I understand</p>
</div>

<div class="message">
  {% include "layout/message-chat-icon.njk" %}
  <div class="message__group">
    <p class="govuk-body">
      Great. You can always find information about my limitations in
      <a href="" target="_blank">about GOV.UK Chat (opens in a new tab)</a>.
    </p>
  </div>
</div>

<div class="message">
  {% include "layout/message-chat-icon.njk" %}
  <div class="message__group">
    <p class="govuk-body">
      One more thing - please do not include any sensitive or personal information in your
      questions.
    </p>
    <p class="govuk-body">
      You can read the
      <a href="" target="_blank">privacy notice (opens in a new tab)</a> to find out how your data
      is used.
    </p>
  </div>
</div>
