<div class="message">
  {% include "layout/message-chat-icon.njk" %}
  <div class="message__group">
    <p class="govuk-body">Hello 👋</p>
    <p class="govuk-body">I'm GOV.UK Chat.</p>
    <p class="govuk-body">
      I'm an experimental tool that uses AI to answer questions and help you find information on
      GOV.UK.
    </p>
    <p class="govuk-body">
      <strong>I have limitations that you need to be aware of.</strong>
    </p>
  </div>
</div>

<div class="message">
  {% include "layout/message-chat-icon.njk" %}
  <div class="message__group">
    <p class="govuk-body">
      The biggest limitation of AI tools like me is a problem known as 'hallucination'.
    </p>
    <p class="govuk-body">
      This means we sometimes make up false information or facts but present them to you
      confidently.
    </p>
  </div>
</div>

<div class="message">
  {% include "layout/message-chat-icon.njk" %}
  <div class="message__group">
    <p class="govuk-body">
      To check if my answers are right, use the links I provide to official guidance on GOV.UK.
      Never act on what I've told you without checking GOV.UK.
    </p>
  </div>
</div>
